@mixin cover-background($img-uri, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
  // background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
   background: url($img-uri) center/cover no-repeat; 
  background-size: cover;  
}

@function get-vw($target, $container-width) {
	// 1 vw is equal to 1% of the viewport width
	$vw-context: ($container-width * .01) * 1; // 1% viewport width
	$vw-size: ($target/$vw-context) * 1;
	@return #{$vw-size}vw;
}

//Mixin
@mixin vw-height($min-height, $max-height, $container-width) {
	min-height: $min-height;
	max-height: $max-height;
	height: get-vw($max-height, $container-width);
}

// simple grid mixin
@mixin grid($cols, $mgn){
	float: left;
	margin-right: $mgn;
	margin-bottom: $mgn;
	width: ( ( 100% - ( ($cols - 1) * $mgn) ) /$cols );
	&:nth-child(#{$cols}n){
		margin-right: 0;
	}
}

// clearfix
@mixin clearFix {
	&:after {
	  content: "";
	  display: block;
	  clear: both
	}
}

// media query mixin
@mixin mobile {
  @media (max-width: #{$x-small}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$small}) and (max-width: #{$medium - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}