%foooter.footer
  .footer-logo
    %a.brand
      %img
  .footer-links
    %ul
      %li
        %h3 Content
      %li
        =link_to 'About', '#!'
      %li
        =link_to 'Contact', '#!'
      %li
        =link_to 'Products', '#!'
    %ul
      %li
        %h3 Follow Us
      %li
        =link_to 'About', '#!'
      %li
        =link_to 'Contact', '#!'
      %li
        =link_to 'Products', '#!'
    %ul
      %li
        %h3 Legal
      %li
        =link_to 'About', '#!'
      %li
        =link_to 'Contact', '#!'
      %li
        =link_to 'Products', '#!'
    %hr
    %p 
      Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.

